<div class="c-contact">
  <div class="c-contact__wrapper">
    <h3 class="c-contact__title">Thông tin tư vấn</h3>
    <p class="c-contact__desc">Quý công ty có nhu cầu làm số sách kế toán hoặc thắc mắc về dịch vụ, vui lòng liên hệ:</p>
    <div class="c-contact__hotline">
      <h4 class="c-contact__tel">
        <span>Tel:</span>
        <a href="tel:0367.873.242">0367-873-242</a>
      </h4>
      <span class="c-contact__time">Thời gian hoạt động: 8:30 - 17:30</span>
    </div>
  </div>
</div>
