<header class="l-header">
  <div class="l-container">
    <div class="l-header__inner">
      <div class="p-header-logo">
        <a href="/">
          <figure class="p-header-logo__figure">
            <img class="p-header-logo__img" src="https://placehold.jp/36x36.png" alt="Hồng Loan">
          </figure>
        </a>
      </div>
      <nav class="p-header-menu">
        <ul class="p-header-menu__list">
          <li class="p-header-menu__item js-item-menu" data-menu="blog">
            <a href="/blog/" class="p-header-menu__link">Blog</a>
          </li>
          <li class="p-header-menu__item js-item-menu" data-menu="service">
            <a href="/dich-vu-ke-toan/" class="p-header-menu__link">Dịch vụ kế toán</a>
          </li>
          <li class="p-header-menu__item js-item-menu" data-menu="about">
            <a href="/gioi-thieu/" class="p-header-menu__link">Về tôi</a>
          </li>
          <li class="p-header-menu__item js-item-menu" data-menu="admin">
            <a href="/admin/" class="p-header-menu__link">Quản trị</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
