@use "../../foundation/colors";
@use "../../foundation/mixin";
@use "../../foundation/vars";

.p-login {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.p-login__wrapper {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid colors.$color-F56C2C;
}

.p-login__heading {
  font-size: 20px;
  font-weight: vars.$fw-500;
}

.p-login__button {
  height: 40px;
  width: 100px;
  border: 1px solid colors.$color-FFAF60;
  border-radius: 8px;
  margin-top: 30px;
}

.p-login__button:hover {
  background-color: colors.$color-FFAF60;
  color: colors.$color-FFFFFF;
}

